<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Epu Edecom{% endblock %}</title>
    {% block stylesheets %}
        <!--     Fonts and icons     -->
        <link rel="icon"  href="{{ asset('assets/img/brand-edecom.png') }}" />

        <link rel="stylesheet"  href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <!-- CSS Files -->

        <link rel="stylesheet"   href="{{ asset('assets/css/bootstrap.min.css') }}" />
        <!-- CSS Just for demo purpose, don't include it in your project -->

        <link rel="stylesheet"   href="{{ asset('assets/css/material-dashboard.css') }}" />

        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <script src="{{ asset('assets/js/jquery-3.2.0.min.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyCX2-eJssZgvNucxJBPMKYpyTTaVa610&libraries=geometry,places"></script>






        <style>
            #map{
                display: inline-block;
                height: 250px;
                width: 80%;
                margin: 0% 10%;
            }
            li{
                list-style:none;

                text-decoration: none;
            }
        </style>
    {% endblock %}
</head>
<body class="index-page">
{% include 'default/navadmin.html.twig' %}
<div class="wrapper">

    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                {% block body %}

                {% endblock %}
            </div>
        </nav>
    </div>
</div>
</body>


</html>
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.min.js') }}" ></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}" ></script>
    <script src="{{ asset('assets/js/material.min.js') }}" ></script>

    <script src="{{ asset('assets/js/material-kit.js') }}" ></script>
    <script src="{{ asset('assets/js/material-dashboard.js') }}"></script>



{% endblock %}