{% extends '::base.html.twig' %}
     {% block stylesheets %}
         <!--     Fonts and icons     -->
         <link rel="icon"  href="{{ asset('assets/img/brand-edecom.png') }}" />

         <link rel="stylesheet"  href="https://fonts.googleapis.com/icon?family=Material+Icons" />
         <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
         <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
         <!-- CSS Files -->

         <link rel="stylesheet"   href="{{ asset('assets/css/bootstrap.min.css') }}" />
         <!-- CSS Just for demo purpose, don't include it in your project -->

         <link rel="stylesheet"   href="{{ asset('assets/css/material-dashboard.css') }}" />

         <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
         <script src="{{ asset('assets/js/jquery-3.2.0.min.js') }}"></script>
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyCX2-eJssZgvNucxJBPMKYpyTTaVa610&libraries=geometry,places"></script>
         <style>
             .map-container {
                 height: 650px;
                 width: 750px;
                 margin: 0% 0%;
             }
             li{
                 list-style:none;

                 text-decoration: none;
             }

         </style>
     {% endblock %}
{% block body %}

    {#<a href="#myModal" role="button" class="btn btn-primary btn-round text-center" data-toggle="modal">Filtros de busqueda <i class="material-icons">build</i></a>#}


    {#<div class="col-sm-12">#}
        {#<div id="myModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-dismiss="modal" data-backdrop="false">#}
            {#<div class="modal-dialog">#}
                {#<div class="modal-content ">#}
                    {#<div class="card">#}
                        {#<div class="modal-body col-sm-12 col-sm-offset-1">#}

                        {#</div>#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}



    <div class="map-container col-sm-10 " id="mod" >

    </div>

    <div class="sidebar col-sm-3 col-sm-offset-9 position "  id="mostrar" filter-color="orange" data-image="">
        <div class="logo">
            <a  class="simple-text text-black">
                BUSCADOR

            </a>
        </div>

        <div class="sidebar-wrapper">

            <form action="">
                <ul>
                    <br>
                    <li>
                        Desde:<br>
                        <input class=" " id="desde" type="date" name="desde" value="desde"><br>
                    </li>
                    <br>
                    <li>
                      Hasta:<br>
                      <input id="hasta" type="date" name="hasta" value="hasta"><br><br>
                    </li>
                    <li class="col-sm-9 ">
                        <div class="form-group  is-empty ">
                            <div class="form-group label-floating divsRadios">
                                <label class="control-label">Estado</label>
                                <select  id="estado" name="estado"  onchange="" class="form-control">
                                    <option value></option>
                                    <option value="1">Pendientes</option>
                                    <option value="2">Resueltas</option>
                                    <option value="3">Anuladas</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group  is-empty">
                            <div class="form-group label-floating divsRadios">
                                <label class="control-label">Problemáticas</label>
                                <select id="problematica" name="problematica" class="form-control">
                                    <option value></option>
                                    <option value="1">Luminarias</option>
                                    <option value="2">Obras Publicas</option>
                                    <option value="3">Higiene Urbana</option>
                                    <option value="4">Seguridad</option>
                                    <option value="5">Transito</option>
                                    <option value="6">Espacios Verdes</option>
                                </select>
                            </div>
                        </div>

                    </li>
                    <br>
                    <div class="col-sm-9 ">
                        <li>
                            <div class=" text-center">
                                <a  onclick="myFunction()" class="btn btn-round  btn-success"><i class="material-icons">search</i>Buscar</a>

                            </div>
                        </li>

                        <br>
                        <li>
                            <div class=" text-center">
                                <a class="btn btn-round   btn-success" href="{{ path ('admin_problematica_mapa') }}">
                                        Restablecer

                                </a>

                            </div>

                        </li>
                        <br>
                        <li>
                            <h4  class="simple-text text-black">
                                IMPRIMIR MAPA
                            </h4>
                        </li>
                        <hr>
                        <br>
                        <li class=" text-center">
                            <div id="imprimir  ">
                                <button class="map-print btn btn-round  btn-primary">                                <i class="material-icons">print</i>
                                    Imprimir</button>
                            </div>
                        </li>
                    </div>

            </ul>
            </form>

        </div>
    </div>
{% endblock %}

{% block javascripts %}


    <script>
//        $('#mostrar').hide();

        $("#ver").click(function(){
            $('#mostrar').show();
        });
        $("#cerrar").click(function(){
            $('#mostrar').hide();
        });


        $(document).ready(function () {
            var idproblematica=$('#appbundle_test_tipoproblematica').val();
            $.ajax({
                type: "POST",
                url: "{{ path ("carga_mapaa") }}",
                data: {optio:''}
            }).done(function (data) {
                $(function () {

                    var marcadores= JSON.stringify(data);
                    var obj = $.parseJSON(marcadores);

                    var mapContainer = $('.map-container');
                    var map = new google.maps.Map(mapContainer[0], {
                        zoom: 13,
                        center: new google.maps.LatLng( -33.1244068, -64.3421894,13),
                        mapTypeId: google.maps.MapTypeId.ROADMAP,

                    });

                    var markers = (obj)
                            .map(function (loc) {
                                return new google.maps.Marker({
                                    position: new google.maps.LatLng(loc.latitud, loc.longitud),
                                    icon: 'assets/img/'+loc.marcador,
                                    title:'Nombre: '+loc.nombre+', Problematica: '+loc.descripcion,
                                    map: map,
                                    url: 'http://www.google.com',


                                });
                            })


                            .forEach(function (marker) {
                                marker.setMap(map);

                            });

//            new MarkerClusterer(map, markers);



                    $('.map-print').on('click',

                            // printAnyMaps :: _ -> HTML
                            function printAnyMaps() {
                                var $body = $('body');
                                document.getElementById("mod").style.width = 2300;
                                document.getElementById("mod").style.height = 1000;
                                var $mapContainer = $('.map-container');
                                var $mapContainerParent = $mapContainer.parent();
                                var $printContainer = $('<div style="position:relative;">');

                                $printContainer
                                        .height($mapContainer.height())
                                        .append($mapContainer)
                                        .prependTo($body);

                                var $content = $body
                                        .children()
                                        .not($printContainer)
                                        .not('script')
                                        .detach();

                                /**
                                 * Needed for those who use Bootstrap 3.x, because some of
                                 * its `@media print` styles ain't play nicely when printing.
                                 */
                                var $patchedStyle = $('<style media="print">')
                                        .text(
                                                'img { max-width: none !important; }' +
                                                'a[href]:after { content: ""; }'
                                        )
                                        .appendTo('head');

                                window.print();

                                $body.prepend($content);
                                $mapContainerParent.prepend($mapContainer);

                                $printContainer.remove();
                                $patchedStyle.remove();
                            });
                });

            })

        });
        function myFunction() {
            var problematica = document.getElementById("problematica").value;
            var desde = document.getElementById("desde").value;
            var hasta = document.getElementById("hasta").value;
            var estado = document.getElementById("estado").value;
            console.log(desde);
            console.log(hasta);

            console.log(problematica);

            console.log(estado);

            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ path ("filtradoo") }}",
                    data: {desde:desde,hasta:hasta,problematica:problematica,estado:estado}
                }).done(function (data) {
                    $(function () {

                        var marcadores= JSON.stringify(data);
                        var obj = $.parseJSON(marcadores);

                        var mapContainer = $('.map-container');
                        var map = new google.maps.Map(mapContainer[0], {
                            zoom: 13,
                            center: new google.maps.LatLng( -33.1244068, -64.3421894,13),
                            mapTypeId: google.maps.MapTypeId.ROADMAP,

                        });

                        var markers = (obj)
                                .map(function (loc) {
                                    return new google.maps.Marker({
                                        position: new google.maps.LatLng(loc.latitud, loc.longitud),
                                        icon: 'assets/img/'+loc.marcador,
                                        title:'Nombre: '+loc.nombre+' Problematica: '+loc.descripcion,
                                        map: map,
                                        infoWindow: {
                                            content: '<b>New York</b> is a state in the Northeastern and Mid-Atlantic regions of the <i>United States</i>.'
                                        },
                                        content: 'Aqui es donde estudio, lee mas información en:',

                                        draggable:false

                                    });
                                })


                                .forEach(function (marker) {
                                    marker.setMap(map);

                                });

//            new MarkerClusterer(map, markers);



                        $('.map-print').on('click',

                                // printAnyMaps :: _ -> HTML
                                function printAnyMaps() {
                                    var $body = $('body');
                                    var $mapContainer = $('.map-container');
                                    var $mapContainerParent = $mapContainer.parent();
                                    var $printContainer = $('<div style="position:relative;">');

                                    $printContainer
                                            .height($mapContainer.height())
                                            .append($mapContainer)
                                            .prependTo($body);

                                    var $content = $body
                                            .children()
                                            .not($printContainer)
                                            .not('script')
                                            .detach();

                                    /**
                                     * Needed for those who use Bootstrap 3.x, because some of
                                     * its `@media print` styles ain't play nicely when printing.
                                     */
                                    var $patchedStyle = $('<style media="print"> ')
                                            .text(
                                                    'img { max-width: none !important; }' +
                                                    'a[href]:after { content: ""; }'
                                            )
                                            .appendTo('head');


                                    window.print();

                                    $body.prepend($content);
                                    $mapContainerParent.prepend($mapContainer);

                                    $printContainer.remove();
                                    $patchedStyle.remove();

                                });
                    });

                })

            });

        }


    </script>
{% endblock %}
