
    <div class="sidebar " filter-color="orange" data-image="">
        {#<div class="sidebar" data-color="purple" data-image="{{ asset('assets/img/google-maps-new-interface.jpg') }}">#}

        <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

            Tip 2: you can also add an image using data-image tag
        -->

        <div class="logo">
            <a  class="simple-text text-black">
                Administración
            </a>
        </div>

        <div class="sidebar-wrapper">
            <ul class="nav">
                <li >
                    <hr>

                    <a class="color">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <i class="material-icons color verde">face</i>
                            <p class="text-black">
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}

                            </p>



                            {% else %}
                                <a  href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}

                    </a>
                </li>
                <li class="text-center">
                    <div class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Configuracion de cuenta
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu col-sm-12">

                            <li >
                                <a href="{{ path('fos_user_profile_edit')}}">
                                    <i class="material-icons verde">perm_identity
                                    </i>

                                    <p class="control-label">Editar perfil</p>
                                </a>
                            </li>
                            <li >
                                <a href="{{ path('fos_user_change_password')}}">
                                    <i class="material-icons verde">https</i>

                                    <p class="control-label">Editar contraseña</p>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li >
                                <a href="{{ path('actualizacion')}}">
                                    <i class="material-icons verde">info</i>

                                    <p class="control-label">Actulizaciones</p>
                                </a>
                            </li>
                            {% if app.user.username=="admin" %}
                                <li >
                                    <a href="{{ path('inicio')}}">
                                        <i class="material-icons verde">settings</i>

                                        <p class="control-label">Admin de usuarios</p>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </li>

                <hr class="black">
                <br>

                {#<li class="">#}
                    {#<a href="{{ path('admin')}}">#}
                        {#<i class="material-icons">dashboard</i>#}
                        {#<p>Home</p>#}
                    {#</a>#}
                {#</li>#}
                <li >
                    <a href="{{ path('admin_problematica_index')}}">
                        <i class="material-icons verde">bubble_chart</i>

                        <p class="control-label">Problemáticas</p>
                    </a>
                </li>
                <li class="divider"></li>

                <li>
                    <a href="{{ path ('admin_problematica_new') }}">
                        <i class="material-icons verde">create</i>
                        <p class="control-label">Alta de Problemáticas</p>

                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{ path ('admin_problematica_graficos') }}">
                        <i class="material-icons verde">equalizer</i>
                        <p class="control-label ">Gráficos</p>


                    </a>
                </li>
                <li>
                    <a href="{{ path ('admin_problematica_mapa') }}">
                        <i class="material-icons verde">satellite</i>
                        <p class="control-label ">Mapa</p>


                    </a>
                </li>
                <hr>
                <li>
                    <a class="" href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        <i class="material-icons verde">reply
                        </i>

                    </a>
                </li>

            </ul>
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery-3.2.0.min.js') }}" ></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}" ></script>
        <script src="{{ asset('assets/js/material.min.js') }}" ></script>

        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->

        <!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->

        <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
        <script src="{{ asset('assets/js/material-dashboard.js') }}"></script>








    {% endblock %}
