{% extends 'base.html.twig' %}



{% block body %}
    <div class="card">
        <div class="card-header" data-background-color="purple">
            <h4 class="title text-center">Problemática</h4>
            <p class="category text-center">Completar los campos</p>
        </div>
        <br>
        <br>
        <div class="">
            {{ form_start(edit_form) }}
            <div class="col-sm-3">
                <div class="form-group label-floating">
                    <label class="control-label">Calle</label>
                    {{ form_widget(edit_form.calle, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>
            <div class="col-sm-1">

                <div class="form-group label-floating">
                    <label class="control-label">N°</label>
                    {{ form_widget(edit_form.altura, { 'attr': {'class':'form-control'}})}}

                </div>
            </div>
            <div class="col-sm-3">

                <div class="form-group label-floating">
                        <a class="btn btn-sm btn-primary" id="target" >Precione para verificar domicilio </a>
                            <span class="text-success text-center " id="span1"></span>
                            <span class="text-danger" id="span2"></span>


                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group label-floating">
                    <label class="control-label">Fecha de alta</label>

                    {{ form_widget(edit_form.fecha, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>

            <div class="col-sm-2" style="display: none">
                <div class="form-group label-floating">
                    <label class="control-label">Ciudad</label>
                    {{ form_widget(edit_form.ciudad, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>

            <div class="col-sm-3" style="display: none">
                <div class="form-group label-floating">
                    <label class="control-label">Provincia</label>
                    {{ form_widget(edit_form.provincia, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>

            <div class="col-sm-3" style="display: none">
                <div class="form-group label-floating text">
                    <label class="control-label">Pais</label>
                    {{ form_widget(edit_form.pais, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>

            <div class="col-sm-6" style="display: none">
                <div class="form-group label-floating">
                    <label class="control-label">Latitud</label>
                    {{ form_widget(edit_form.latitud, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>

            <div class="col-sm-6" style="display: none" >

                <div class="form-group label-floating">
                    <label class="control-label">Longitud</label>
                    {{ form_widget(edit_form.longitud, { 'attr': {'class':'form-control'}})}}

                </div>
            </div>


            <div class="col-sm-12">
                <div class="form-group label-floating">
                    <label class="control-label ">Observacion</label>
                    {{ form_widget(edit_form.descripcion, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group label-floating">
                    <label class="control-label">Problematica</label>
                    {{ form_widget(edit_form.tipoproblematica, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group label-floating">
                    <label class="control-label">Estado</label>
                    {{ form_widget(edit_form.estado, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>

            <div class="col-sm-2" style="display: none">
                <div class="form-group label-floating">
                    <label class="control-label">Ultima actualizacion</label>

                    {{ form_widget(edit_form.fecha_estado, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>
        </div>

    </div>

    <input class="btn btn-primary btn-round pull-right " id="action" type="submit" value="Guardar" />
    {{ form_end(edit_form) }}
    <a class="btn btn-primary btn-round pull-left " href="{{ path('admin_problematica_index') }}">Ir al listado</a>
    <li>
        {{ form_start(delete_form) }}
        <input  class="btn btn-danger pull-left btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </li>
    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#{{ form_end(form) }}#}



{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.2.0.min.js') }}" ></script>
    <script src="{{ asset('assets/js/jquery.min.js') }}" ></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}" ></script>
    <script src="{{ asset('assets/js/material.min.js') }}" ></script>

    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->

    <!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="{{ asset('assets/js/material-kit.js') }}" ></script>
    <script src="{{ asset('assets/js/material-dashboard.js') }}"></script>


    <script>
        $( "#target" ).click(function() {
            var calle=$('#appbundle_problematica_calle').val();
            var numero=$('#appbundle_problematica_altura').val();
            $.getJSON( "https://maps.googleapis.com/maps/api/geocode/json?address="+numero+"+"+calle+"+rio cuarto+cordoba+argentina+&key=AIzaSyCyCX2-eJssZgvNucxJBPMKYpyTTaVa610&libraries", function( json ) {
                if (json.status=="OK"){
                    $('#span2').hide();
                    $('#span1').show();
                    $('#action').show();
                    //document.getElementById("valores").value = mensaje;
                    document.getElementById("appbundle_problematica_longitud").value =(json.results[0].geometry.location.lng) ;

                    document.getElementById("appbundle_problematica_latitud").value =(json.results[0].geometry.location.lat) ;

                    document.getElementById('target').style.backgroundColor= '#388e3c';

                    document.getElementById('span1').innerHTML = "Domicilio correcto.";

                }else{
                    $('#span1').hide();
                    $('#span2').show();
                    $('#action').hide();
                    document.getElementById('target').style.backgroundColor= '#d84315';

                    document.getElementById('span2').innerHTML = "Domicilio incorrecto.";

                }

            });



        });

        $(document).ready(function ( ) {
            $('#action').click(function () {
                console.log("hola nata");
                //var selectedoption=$('#appbundle_problematica_domicilio').val();
                //console.log(selectedoption);
                var calle=$('#appbundle_problematica_calle').val();
                var numero=$('#appbundle_problematica_altura').val();
                $.getJSON( "https://maps.googleapis.com/maps/api/geocode/json?address="+numero+"+"+calle+"+rio cuarto+cordoba+argentina+&key=AIzaSyCyCX2-eJssZgvNucxJBPMKYpyTTaVa610&libraries", function( json ) {
                    console.log(json.results[0].geometry.location.lat);
                    console.log(json.results[0].geometry.location.lng);

                    // console.log(json.results[0].geometry);
                    //document.getElementById("valores").value = mensaje;
                    document.getElementById("appbundle_problematica_longitud").value =(json.results[0].geometry.location.lng) ;

                    document.getElementById("appbundle_problematica_latitud").value =(json.results[0].geometry.location.lat) ;

                });
            })
        });

    </script>
{% endblock %}
