{% extends 'base.html.twig' %}

{#{% block body %}#}
    {#<h1>Problematica creation</h1>#}

    {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
        {#<input type="submit" value="Create" />#}
    {#{{ form_end(form) }}#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('admin_problematica_index') }}">Back to the list</a>#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}

{% block body %}
    <div class="card">
        <div class="card-header" data-background-color="purple">
            <h3 class="title text-center">Alta de Problemática</h3>
            <h4 class=" text-center">Completar los campos, una vez que los campos esten completos y sean correctos se podran guardar</h4>
        </div>
        <br><br>
        <div class="">
            {{ form_start(form) }}
            {#<div class="col-sm-8">#}
            {#<div class="form-group">#}
            {#{{ form_widget(form.clie_nombre, { 'attr': {'class':'form-control','placeholder':'nombre'}})}}#}
            {#</div>#}
            {#</div>#}
            <div class="col-sm-3 ">
                <div class="form-group label-floating">
                    <label class="control-label">Calle</label>
                    {{ form_widget(form.calle, { 'attr': {'class':'form-control', onchange:'calle()'}})}}

                </div>
            </div>
            <div class="col-sm-2">

                <div class="form-group label-floating">
                    <label class="control-label">N°</label>
                    {{ form_widget(form.altura, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>
            <div class="col-sm-3">

                <div class="form-group label-floating">
                    <a class="btn btn-sm btn-primary" id="target" >Precione para verificar domicilio </a>
                    <span class="text-success text-center " id="span1"></span>
                    <span class="text-danger" id="span2"></span>


                </div>
            </div>
            <div class="col-sm-2 ">
                <div class="form-group label-floating">
                    <label class="control-label">Fecha de alta</label>
                    {{ form_widget(form.fecha, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>
            <div class="col-sm-2" style="display: none">
                <div class="form-group label-floating">
                    <label class="control-label">Ciudad</label>
                    {{ form_widget(form.ciudad, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>

            <div class="col-sm-3" style="display: none">
                <div class="form-group label-floating">
                    <label class="control-label">Provincia</label>
                    {{ form_widget(form.provincia, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>

            <div class="col-sm-3" style="display: none">
                <div class="form-group label-floating text">
                    <label class="control-label">Pais</label>
                    {{ form_widget(form.pais, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>

            <div class="col-sm-6" style="display: none">
                <div class="form-group label-floating">
                    <label class="control-label">Latitud</label>
                    {{ form_widget(form.latitud, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>

            <div class="col-sm-6" style="display: none" >

                <div class="form-group label-floating">
                    <label class="control-label">Longitud</label>
                    {{ form_widget(form.longitud, { 'attr': {'class':'form-control'}})}}

                </div>
            </div>

            <div class="col-sm-10 ">
                <div class="form-group label-floating">
                    <label class="control-label ">Observacion</label>
                    {{ form_widget(form.descripcion, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>

            <div class="col-sm-3 ">
                <div class="form-group label-floating">
                    <label class="control-label color">Problemática</label>
                    {{ form_widget(form.tipoproblematica, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>

            <div class="col-sm-3 ">
                <div class="form-group label-floating">
                    <label class="control-label color">Estado</label>
                    {{ form_widget(form.estado, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>
            <div class="col-sm-3  " style="display: none">
                <div class="form-group label-floating">
                    {{ form_widget(form.fecha_estado, { 'attr': {'class':'form-control'}})}}
                </div>
            </div>
            <br><br>
        </div>

    </div>

    <a class="btn btn-primary btn-round pull-left" href="{{ path('admin_problematica_index') }}">Ir al listado</a>

    <input class="btn btn-primary btn-round pull-right" type="submit" id="action" value="Guardar" />

    {{ form_end(form) }}

    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#{{ form_end(form) }}#}



{% endblock %}
{% block javascripts %}

    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->

    <!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->

    <script>

        $( "#target" ).click(function() {
            var calle=$('#appbundle_problematica_calle').val();
            var numero=$('#appbundle_problematica_altura').val();
            $.getJSON( "https://maps.googleapis.com/maps/api/geocode/json?address="+numero+"+"+calle+"+rio cuarto+cordoba+argentina+&key=AIzaSyCyCX2-eJssZgvNucxJBPMKYpyTTaVa610&libraries", function( json ) {
                if (json.status=="OK" && calle!="" && numero!=""){
                    $('#span2').hide();
                    $('#span1').show();
                    $('#action').show();
                    document.getElementById('target').style.backgroundColor= '#388e3c';

                    document.getElementById('span1').innerHTML = "Domicilio correcto.";

                }else{
                    $('#span1').hide();
                    $('#span2').show();
                    $('#action').hide();
                    document.getElementById('target').style.backgroundColor= '#d84315';

                    document.getElementById('span2').innerHTML = "Domicilio incorrecto.";

                }

            });



        });
        $('#action').hide();

        $(document).ready(function ( ) {
            $('#appbundle_problematica_tipoproblematica').change(function () {
                //var selectedoption=$('#appbundle_problematica_domicilio').val();
                //console.log(selectedoption);
                var calle=$('#appbundle_problematica_calle').val();
                var numero=$('#appbundle_problematica_altura').val();
                $.getJSON( "https://maps.googleapis.com/maps/api/geocode/json?address="+numero+"+"+calle+"+rio cuarto+cordoba+argentina+&key=AIzaSyCyCX2-eJssZgvNucxJBPMKYpyTTaVa610&libraries", function( json ) {
                    console.log(json.results[0].geometry.location.lat);
                    console.log(json.results[0].geometry.location.lng);

                    // console.log(json.results[0].geometry);
                    //document.getElementById("valores").value = mensaje;
                    document.getElementById("appbundle_problematica_longitud").value =(json.results[0].geometry.location.lng) ;

                    document.getElementById("appbundle_problematica_latitud").value =(json.results[0].geometry.location.lat) ;

                });
            })
        });

        function calle() {
            var x = document.getElementById("appbundle_problematica_calle");
            x.value = x.value.toLowerCase();
            x.value=x.value.split(' ').map(function(word){
                return word.charAt(0).toUpperCase() + word.slice(1);
            }).join(' ');
        }

    </script>
{% endblock %}
